<div ng-controller="MapCtrl as vm">

    <md-button md-no-ink class="md-primary md-raised menu-btn" ng-click=" vm.toggleLeft()">Меню</md-button>
    <md-button md-no-ink class="md-warn md-raised menu-btn" style="left: 120px" ng-click="vm.historyPage()">
        История города
    </md-button>
    <md-button md-no-ink class="md-raised menu-btn" style="left: 280px" ng-click="vm.openGame()">Узнай свой город
    </md-button>

    <div map-lazy-load="https://maps.google.com/maps/api/js"
         map-lazy-load-params="{{ vm.googleMapsUrl}}">
        <ng-map
                center="{{ vm.center}}"
                zoom="{{ vm.zoom}}"
                pan-control="true"
                pan-control-options="{position:'TOP_RIGHT'}"
                map-type-control="false"
                map-type-control-options="{style:'HORIZONTAL_BAR', position:'BOTTOM_CENTER'}"
                zoom-control="true"
                zoom-control-options="{style:'LARGE', position:'LEFT_CENTER'}"
                scale-control="true"
                street-view-control="false"
                street-view-control-options="{position:'LEFT_TOP'}"
                style=" width:100vw; height:100vh">

            <directions
                    draggable="false"
                    travel-mode="{{vm.route.selectedType}}"
                    waypoints="{{vm.route.waypoints}}"
                    origin="current-location"
                    destination="{{vm.route.destination}}">
            </directions>


            <marker
                    ng-repeat="item in vm.markers" position="{{item.coordinate}}"
                    id="marker-{{item.id}}"
                    icon="{url: '../../img/map/{{item.type}}.png'}"
                    on-click="vm.showMarker(event, item)">
            </marker>

            <!--Текущее местоположение пользователя-->
            <marker position="current" animation="Animation.BOUNCE" icon="{url: '../../img/map/current_position.png'}"
                    centered="false"></marker>

            <info-window id="showMarker">
                <div ng-non-bindable="">
                    <h4>{{ vm.selectedItem.title}}</h4>
                    <p>{{ vm.selectedItem.description | limitTo: 140 }}{{ vm.selectedItem.description.length > 140 ?
                        '...' : ''}} <a href ng-click=" vm.open()">Подробнее</a></p>
                </div>
            </info-window>
        </ng-map>
    </div>

    <div layout="row" layout-fill flex>
        <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="leftMenu" md-disable-backdrop>
            <div class="menu" ng-include="'app/menu/menu.html'"></div>
        </md-sidenav>
    </div>
</div>