<div class="modal-header">
    <h3 class="modal-title" id="modal-title">История города
        <button type="button" class="close" ng-click="$ctrl.cancel()" data-dismiss="modal" aria-hidden="true">&times;
        </button>
    </h3>
</div>

<div class="modal-body" id="modal-body">
    <div id="images" class="imageReveal">
        <img id="oldPhoto" title="Было">
        <img id="newPhotoUrl" title="Стало">
    </div>

    <h3 style="margin-bottom: 0">
        <small id="description"></small>
    </h3>

</div>

<div class="modal-footer">
    <button class="btn btn-success" type="button" ng-click="$ctrl.next()">Следующая</button>
</div>