<div ng-controller="TempCtrl" class="modal-demo">

    <div class="w3-content w3-display-container" style="max-width:800px">

        <img class="mySlides" ng-src="https://www.dropbox.com/s/ry3urgn51bi4xay/javaroots.JPG?raw=1" style="width:100%">
        <img class="mySlides" ng-src="https://www.dropbox.com/s/ry3urgn51bi4xay/javaroots.JPG?raw=1" style="width:100%">
        <img class="mySlides" ng-src="https://www.dropbox.com/s/ry3urgn51bi4xay/javaroots.JPG?raw=1" style="width:100%">


        <div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle"
             style="width:100%">
            <div class="w3-left w3-hover-text-khaki" ng-click="$scope.plusDivs(-1)">&#10094;</div>
            <div class="w3-right w3-hover-text-khaki" ng-click="$scope.plusDivs(1)">&#10095;</div>
            <span class="w3-badge demo w3-border w3-transparent w3-hover-white" ng-click="$scope.currentDiv(1)"></span>
            <span class="w3-badge demo w3-border w3-transparent w3-hover-white" ng-click="$scope.currentDiv(2)"></span>
            <span class="w3-badge demo w3-border w3-transparent w3-hover-white" ng-click="$scope.currentDiv(3)"></span>
        </div>
    </div>
</div>