<div class="modal-header">
    <h3 class="modal-title" id="modal-title">
        <img ng-src="../../img/map/{{$ctrl.item.placeGroup.code}}.png"/>
        {{$ctrl.item.title}}
        <button type="button" class="close" ng-click="$ctrl.cancel()" data-dismiss="modal" aria-hidden="true">&times;
        </button>
    </h3>
</div>
<div class="modal-body" id="modal-body">
    <uib-tabset justified="true">

        <uib-tab index="0" heading="Описание">
            <br/>
            <p><img ng-src="../../img/map/{{$ctrl.item.placeGroup.code}}.png"/>
                {{$ctrl.item.title}}</p>
            <p >{{$ctrl.item.description}}</p>

            <h3 ng-if="$ctrl.item.totalRating != null">
                <small ng-style="{ color: $ctrl.item.totalRating <= 2 ? 'red' : 'green' }">Средний рейтинг:
                    {{ $ctrl.item.totalRating | number:2}}

                </small>
            </h3>

            <h6 style="margin-bottom: 0" ng-if="$ctrl.item.updateDate != null">
                <small>Обновлено: {{ $ctrl.item.updateDate | date:'yyyy-MM-dd HH:mm:ss'}}</small>
            </h6>
        </uib-tab>

        <uib-tab index="1" heading="Фото">
            <div ng-if="$ctrl.item.images!=null && $ctrl.item.images.length!=0">
                <br/>
                <ul class="gallery gallery1">
                    <li ng-repeat="image in $ctrl.item.images">
                        <a ng-click="$ctrl.openLightboxModal($index)">
                            <img ng-src="{{image.fileUrl}}" class="img-thumbnail">
                        </a>
                    </li>
                </ul>
            </div>
        </uib-tab>

        <uib-tab index="2" heading="Отзывы">
            <h4>Отзывы:</h4>

            <p class="text-capitalize" ng-show="$ctrl.item.comments == null || $ctrl.item.comments.length==0">
                Отзывов нет :(
            </p>

            <table class="table" ng-show="$ctrl.item.comments !== null && $ctrl.item.comments.length!=0">
                <tbody>
                <tr ng-repeat="comment in $ctrl.item.comments | orderBy: 'createDate' ">
                    <td width="20%">{{comment.createDate | date:'yyyy-MM-dd HH:mm'}}</td>
                    <td width="80%">{{comment.text}}</td>
                </tr>
                </tbody>
            </table>

            <div class="form-group">
                <label>Оставьте свой комментарий и рейтинг:</label>
                <div class="input-group">
                    <select class="form-control"
                            ng-options="item for item in $ctrl.rating.data"
                            ng-model=" $ctrl.newComment.rating" style="margin-bottom: 5px">
                        <option value="5">5</option>
                    </select>

                    <textarea ng-model="$ctrl.newComment.text" class="form-control custom-control"
                              rows="3" style="resize:none"></textarea>
                    <span class="input-group-addon btn btn-primary"
                          ng-click="$ctrl.newComment.sendComment()">Отправить</span>
                </div>
            </div>

        </uib-tab>
    </uib-tabset>
</div>