<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Добавление нового объекта
        <button type="button" class="close" ng-click="$ctrl.cancel()" data-dismiss="modal" aria-hidden="true">&times;
        </button>
    </h3>
</div>
<div class="modal-body" id="modal-body">
    <form name="placeForm" class="form-horizontal" ng-submit="$ctrl.savePlace()" novalidate>

        <div class="form-group" style="margin: 5px; color: red">
            <span class="control-label">
                Предложение нового объекта. Объект будет добавлен в общий список меток после модерации администратором.
            </span>
        </div>

        <br/><br/>

        <div class="form-group" ng-class="{ 'has-error' : placeForm.title.$invalid && !placeForm.title.$pristine }">
            <label class="col-lg-3 control-label">Заголовок</label>
            <div class="col-lg-8">
                <input type="text" name="title" class="form-control input-sm"
                       ng-model="$ctrl.newPlace.title" required/>
                <p ng-show="placeForm.title.$invalid && !placeForm.title.$pristine" class="help-block">Поле 'Заголовок'
                    обязательно для заполнения</p></div>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : placeForm.name.$invalid && !placeForm.name.$pristine }">
            <label class="col-lg-3 control-label">Название</label>
            <div class="col-lg-8">
                <input type="text" name="name" class="form-control input-sm"
                       ng-model="$ctrl.newPlace.name" required/>
                <p ng-show="placeForm.name.$invalid && !placeForm.name.$pristine" class="help-block">Поле 'Название'
                    обязательно для заполнения</p>
            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : placeForm.groups.$invalid && !placeForm.groups.$pristine }">
            <label class="col-lg-3 control-label">Группа</label>
            <div class="col-lg-8">
                <select class="form-control" name="groups"
                        ng-options="item as item.title for item in $ctrl.groups track by item.code"
                        ng-model="$ctrl.newPlace.groups"
                        required>
                </select>
                <p ng-show="placeForm.groups.$invalid && !placeForm.groups.$pristine" class="help-block">Поле 'Группа'
                    обязательно для заполнения</p>
            </div>
        </div>

        <div class="form-group"
             ng-class="{ 'has-error' : placeForm.description.$invalid && !placeForm.description.$pristine }">
            <label class="col-lg-3 control-label">Описание</label>
            <div class="col-lg-8">
                            <textarea rows="5" cols="30" name="description"
                                      class="form-control input-sm" ng-model="$ctrl.newPlace.description"
                                      required></textarea>
                <p ng-show="placeForm.description.$invalid && !placeForm.description.$pristine" class="help-block">
                    Поле 'Описание' обязательно для заполнения</p>
            </div>
        </div>

        <div class="form-group"
             ng-class="{ 'has-error' : placeForm.latitude.$invalid && !placeForm.latitude.$pristine }">
            <label class="col-lg-3 control-label">Широта</label>
            <div class="col-lg-8">
                <input type="text" name="latitude"
                       class="form-control input-sm"
                       ng-model="$ctrl.newPlace.latitude" required/>
                <p ng-show="placeForm.latitude.$invalid && !placeForm.latitude.$pristine" class="help-block">
                    Поле 'Широта' обязательно для заполнения</p>
            </div>
        </div>

        <div class="form-group"
             ng-class="{ 'has-error' : placeForm.longitude.$invalid && !placeForm.longitude.$pristine }">
            <label class="col-lg-3 control-label">Долгота</label>
            <div class="col-lg-8">
                <input type="text" name="longitude"
                       class="form-control input-sm"
                       ng-model="$ctrl.newPlace.longitude" required/>
                <p ng-show="placeForm.longitude.$invalid && !placeForm.longitude.$pristine" class="help-block">
                    Поле 'Долгота' обязательно для заполнения</p>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-success" type="submit" ng-click="$ctrl.savePlace()" ng-disabled="placeForm.$invalid">
        Предложить
    </button>
</div>