<md-toolbar class="md-theme-indigo">
    <h1 class="md-toolbar-tools">Меню</h1>
</md-toolbar>
<md-content layout-margin style="margin: 10px;">

    <md-switch ng-model="vm.data.dataType" ng-true-value="'Маршруты'" ng-false-value="'Метки'" class="md-warn">
        Тип объектов: {{vm.data.dataType}}
    </md-switch>
    <hr>

    <div ng-switch="vm.data.dataType">
        <!--Метки >>>-->
        <div ng-switch-when="Метки">
            <h3>Метки</h3>
            <label>Категория меток:</label>
            <select class="form-control"
                    ng-options="item as item.title for item in vm.groups.data track by item.code"
                    ng-model="vm.groups.selected">
                <option value="">Все категории</option>
            </select>
            <br/>
            <label>Рейтинг не ниже:</label>
            <select class="form-control"
                    ng-options="item for item in vm.rating.data"
                    ng-model="vm.rating.selected">
                <option value="">Все метки</option>
            </select>

            <br/>
            <md-button class="md-raised md-primary" ng-click="vm.openNewPlace()">
                Предложить метку
            </md-button>

        </div>
        <!--<<<-->

        <!--Маршруты >>>-->
        <div ng-switch-when="Маршруты">
            <h3>Маршруты</h3>

            <label>Выберите маршрут:</label>
            <select class="form-control"
                    ng-options="item as item.title for item in vm.route.routes"
                    ng-model="vm.route.selectedRoute">
                <option value="">Выберите маршрут</option>
            </select>

            <br/>

            <label>Тип маршрута:</label>
            <select class="form-control"
                    ng-options="item.value as item.title for item in vm.route.types"
                    ng-model="vm.route.selectedType">
                <option value="">Выберите тип</option>
            </select>

            <md-button ng-click="vm.createRoute()" class="md-raised md-success">
                Построить маршрут
            </md-button>

        </div>
        <!--<<<-->
    </div>
    <hr>

    <div>
        <md-button ng-click="vm.btnFilter()" class="md-raised md-primary">
            Отфильтровать
        </md-button>

        <md-button ng-click="vm.toggleLeft()" class="md-raised md-primary">
            Закрыть
        </md-button>
    </div>
</md-content>