<div class="modal-header">
    <h3 class="modal-title" id="modal-title">
        Количество заработанных баллов - {{$ctrl.points}}
        <button type="button" class="close" ng-click="$ctrl.cancel()" data-dismiss="modal" aria-hidden="true">&times;
        </button>
    </h3>
</div>

<div class="modal-body" id="modal-body" ng-init="$ctrl.initialize()">


    <div class="row">
        <div class="col-md-4">
            <ul class="gallery gallery1">
                <li ng-repeat="image in $ctrl.item.photos">
                    <a ng-click="$ctrl.openLightboxModal($index)">
                        <img ng-src="{{image}}" class="img-thumbnail">
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-8">
            <div class="row" style="text-align: center">
                <div class="col-md-12">

                    <div ng-show="$ctrl.responseObject.hasGot"
                         style="color: green">
                        <h3> Верно</h3>
                        <h4> Количество баллов + {{$ctrl.responseObject.points}}, объет находится в радиусе
                            {{$ctrl.responseObject.meters}} метра(ов)</h4>
                    </div>
                    <h3 ng-show="!$ctrl.responseObject.hasGot && $ctrl.responseObject.hasGot!==undefined"
                        style="color: red">Вы ошиблись :( Попробуйте еще раз</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    {{$ctrl.responseObject.description | limitTo: 256 }} {{ $ctrl.responseObject.description.length >
                    256 ?
                    '...' : ''}}
                </div>
            </div>

            <hr/>
            <div class="row">
                <div class="col-md-4"
                     ng-class="{ 'has-success ' : $ctrl.responseObject.hasGot, 'has-error': !$ctrl.responseObject.hasGot && $ctrl.responseObject.hasGot!==undefined }">
                    <label>
                        <input id="latitude" type="text" class="form-control" ng-model="$ctrl.checkParams.latitude"
                               disabled>
                    </label>
                </div>
                <div class="col-md-4"
                     ng-class="{ 'has-success ' : $ctrl.responseObject.hasGot, 'has-error': !$ctrl.responseObject.hasGot && $ctrl.responseObject.hasGot!==undefined }">
                    <label>
                        <input id="longitude" type="text" class="form-control" ng-model="$ctrl.checkParams.longitude"
                               disabled>
                    </label>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-success" ng-click="$ctrl.next()">Следующий объект</button>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div id="map1"></div>
    </div>
</div>

<style>
    .modal-dialog {
        width: 800px;
    }
</style>