html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.md-whiteframe-4dp, .md-whiteframe-z2 {
    background-color: rgb(255, 255, 255) !important;
}

.dialogdemoBasicUsage #popupContainer {
    position: relative;
}

.dialogdemoBasicUsage .footer {
    width: 100%;
    text-align: center;
    margin-left: 20px;
}

.dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
    font-size: 0.8em;
    margin-top: 50px;
}

.dialogdemoBasicUsage button {
    width: 200px;
}

#map1 {
    height: 400px;
    width: 100%;
}

#map1 * {
    overflow:visible;
}

.dialogdemoBasicUsage div#status {
    color: #c60008;
}

.dialogdemoBasicUsage .dialog-demo-prerendered md-checkbox {
    margin-bottom: 0;
}

md-dialog {
    opacity: 10 !important;
}

.md-sidenav-left {
    z-index: 1000;
}

.menu-btn {
    position: absolute;
    left: 10px;
    z-index: 999
}

tr {
    width: 100%;
    display: inline-table;
    table-layout: fixed;
}

table {
    height: 200px;
    display: -moz-groupbox;
}

tbody {
    overflow-y: scroll;
    height: 200px;
    position: absolute;
}

.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}

.gallery {
    padding: 0;
}

.gallery li {
    display: inline-block;
    margin: 0 1em 1em 0;
    list-style-type: none;
    text-align: center;
}

@media (max-width: 767px) {
    .gallery li {
        margin: 0;
    }
}

.gallery1 img {
    width: 75px;
    height: 75px;
}

.gallery2 img {
    width: 6em;
}

.gallery5 img {
    width: 120px;
}

.lightbox-nav {
    position: relative;
    margin-bottom: 12px; /* the font-size of .btn-xs */
    height: 22px;
    text-align: center;
    font-size: 0; /* prevent the otherwise inherited font-size and line-height from adding extra space to the bottom of this div */
}

.lightbox-nav .btn-group {
    vertical-align: top;
}

.lightbox-nav .close {
    /* absolutely position this in order to center the nav buttons */
    position: absolute;
    top: 0;
    right: 0;
}

.lightbox-image-container {
    position: relative;
    text-align: center; /* center the image */
}

/* the caption overlays the top left corner of the image */
.lightbox-image-caption {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0.5em 0.9em; /* the left and right margins are offset by 0.4em for the span box-shadow */
    color: #000;
    font-size: 1.5em;
    font-weight: bold;
    text-align: left;
    text-shadow: 0.1em 0.1em 0.2em rgba(255, 255, 255, 0.5);
}

.lightbox-image-caption span {
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    background-color: rgba(255, 255, 255, 0.75);
    /* pad the left and right of each line of text */
    box-shadow: 0.4em 0 0 rgba(255, 255, 255, 0.75),
    -0.4em 0 0 rgba(255, 255, 255, 0.75);
}
